@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  
}

:root{
    --pink:#e5345b;
}
.bg-primary{
    background-color: var(--pink) !important;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, .1);
}
.navbar-brand img{
    width: 1.8rem;
}
.home_container{
padding: 6rem 1rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2rem;
  margin: 2rem auto;
  width: 80%;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, .1);
  border-radius: .5rem;
}
.product_category,
.product_description{
    font-size: .7rem;
    color: gray;
}
.product_image {
  height: 10rem;
  width: 100%;
  object-fit: contain;
}
.content {
  padding: 1rem;
  line-height: 1;
}
.price_container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}
.product_price{
    color: var(--pink);
}
.btn_cart {
  outline: none;
  border: none;
  background-color: transparent;
  color: blueviolet;
  padding: .3rem;
  border-radius: .5rem;
}
.fa-star{
    color: goldenrod;
    font-size: .8rem; 
}
.fa-cart-plus{
    font-size: 1.3rem;
    cursor: pointer;
}
.fa-heart{
    color: var(--pink);
}
/* @media (max-width:500px) {
    html{
      font-size: 10px
    }
    
}; */